{{if ne .Type "checkbox"}}
<label for="{{.Key}}">{{.Title}}{{if .Required}} *{{end}}</label>
{{end}}
{{if eq .Type "checkbox"}}
  <fieldset>
    <label>
      <input type="checkbox" id="{{.Key}}" name="{{.Key}}" {{if eq .Default "checked"}}checked{{end}} {{if ne .Error ""}}aria-invalid="true"{{end}}>
      {{.Title}}
    </label>
  </fieldset>
{{else if eq .Type "select"}}
  <select id="{{.Key}}" name="{{.Key}}" {{if .Required}}required{{end}} {{if ne .Error ""}}aria-invalid="true"{{end}}>
    {{ $Default := .Default }}
    {{range .Options}}
      <option value="{{.Value}}" {{if eq $Default .Value}}selected{{end}} {{if .Disabled}}disabled{{end}}>{{.Label}}</option>
    {{end}}
  </select>
{{else}}
  {{if .Action.Visible}}
  <fieldset role="group" {{if ne .Error ""}}aria-invalid="true"{{end}}>
    <input type="{{.Type}}" id="{{.Key}}" name="{{.Key}}" {{if ne .Autocomplete ""}}autocomplete="{{.Autocomplete}}"{{end}} value="{{.Default}}" {{if .Required}}required{{end}}  {{if ne .Error ""}}aria-invalid="true"{{end}}>
    <input type="button" value="{{.Action.Label}}" onclick="{{.Action.OnClick}}" />
  </fieldset>
  {{else}}
  <input type="{{.Type}}" id="{{.Key}}" name="{{.Key}}" {{if ne .Autocomplete ""}}autocomplete="{{.Autocomplete}}"{{end}} value="{{.Default}}" {{if .Required}}required{{end}} {{if ne .Error ""}}aria-invalid="true"{{end}}>
  {{end}}
{{end}}
{{if ne .Type "checkbox"}}
<small><span class="error">{{.Error}}</span>{{if and (ne .Error "") (ne .Description "")}} | {{end}}<span class="description">{{.Description}}</span></small>
{{end}}
