{{define "head"}}
<style>
  body {
    justify-content: center;
  }

  section > header {
    margin-bottom: 24px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .justify-space-between {
    justify-content: space-between;
  }
  .align-center {
    align-items: center;
  }
  .grow {
    flex-grow: 1;
  }
  .grow-0 {
    flex-grow: 0;
  }

  #account_section p {
    margin-bottom: 0;
  }

  [role="group"] button {
    --pico-form-element-spacing-horizontal: 1rem;
  }
</style>
{{end}}

{{define "header"}}
<h1>
  {{.Title}}
  <small>
    <sup>v{{.Version}}</sup>
  </small>
</h1>
<div>
  <p>{{.Description}}</p>
</div>
{{end}}

{{define "main"}}
  {{template "sidekick_account_section.html" .}}

  {{if .IsAuthed}}
  <details open>
    <summary role="button" class="secondary">
      Addons
    </summary>
    {{template "sidekick_addons_section.html" .}}
  </details>
  {{end}}
{{end}}

{{define "foot"}}
<script>
  htmx.on("htmx:beforeRequest", function(evt) {
    let button = null;
    if (evt.detail.elt.tagName === "BUTTON") {
      button = evt.detail.elt;
    } else if (evt.detail.elt.tagName === "FORM") {
      button = evt.detail.elt.querySelector("button[type='submit']");
    }
    if (button) {
      button.ariaBusy = true;
    }
  });
  htmx.on("htmx:afterRequest", function(evt) {
    let button = null;
    if (evt.detail.elt.tagName === "BUTTON") {
      button = evt.detail.elt;
    } else if (evt.detail.elt.tagName === "FORM") {
      button = evt.detail.elt.querySelector("button[type='submit']");
    }
    if (button) {
      button.ariaBusy = false;
    }
  });
</script>
{{end}}

{{template "layout.html" .}}
