<section id="addons_section" hx-swap="outerHTML"  data-operation="{{.AddonOperation}}">

<style>
#addons_section:not([data-operation="move"]) #addon_operation_move {
  display: none;
}
#addons_section:not([data-operation="manage"]) #addon_operation_manage {
  display: none;
}
#addons_section:not([data-operation="move"]):not([data-operation="manage"]) #addons_list {
  display: none;
}
#addons_section:not([data-operation="backup"]) #addons_backup {
  display: none;
}
#addon_error pre {
  color: #ad2201;
  padding: 1rem;
}
</style>

<header class="flex-row justify-space-between">
  <div>
    <select name="addon_operation" aria-label="Addon Operation" required onchange="onAddonOperationChange(this)">
      <option disabled value="">Operation</option>
      <option {{if eq .AddonOperation "move"}}selected{{end}} value="move">Move</option>
      <option {{if eq .AddonOperation "manage"}}selected{{end}} value="manage">Manage</option>
      <option {{if eq .AddonOperation "backup"}}selected{{end}} value="backup">Backup/Restore</option>
    </select>
  </div>
  <div>
    <button id="load_addons" hx-get="addons" hx-target="#addons_section" hx-trigger="click, addons_load">
      {{if eq (len .Addons) 0}}Load{{else}}Refresh{{end}}
    </button>
  </div>
</header>

{{if ne .AddonError ""}}
<section id="addon_error">
  <pre>{{.AddonError}}</pre>
</section>
{{end}}

<div id="addons_list">
  {{range $idx, $addon := .Addons}}
  <article>
    <header class="flex-row justify-space-between align-center">
      <div>
        <h3>
          {{.Manifest.Name}}
          <small>
            <sup>v{{.Manifest.Version}}</sup>
          </small>
        </h3>
      </div>
      <div>
        {{if not (has_prefix .Manifest.ID "st:disabled:")}}
          {{with (get_configure_url .)}}
            <a role="button" href="{{.}}" target="_blank">Configure</a>
          {{end}}
        {{end}}
      </div>
    </header>

    <div id="addon_operation_move" role="group">
      <button
        {{if eq $idx 0}}disabled{{end}}
        hx-post="addons/{{.TransportUrl | url_path_escape}}/move/top"
        hx-target="#addons_section"
        aria-label="Move to Top"
        data-tooltip="Top"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="32">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 18.75 7.5-7.5 7.5 7.5" />
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 7.5-7.5 7.5 7.5" />
        </svg>
      </button>
      <button
        {{if eq $idx 0}}disabled{{end}}
        hx-post="addons/{{.TransportUrl | url_path_escape}}/move/up"
        hx-target="#addons_section"
        aria-label="Move Up"
        data-tooltip="Up"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="32">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>
      </button>
      <button
        {{if eq $idx $.LastAddonIndex}}disabled{{end}}
        hx-post="addons/{{.TransportUrl | url_path_escape}}/move/down"
        hx-target="#addons_section"
        aria-label="Move Down"
        data-tooltip="Down"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="32">
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
      </button>
      <button
        {{if eq $idx $.LastAddonIndex}}disabled{{end}}
        hx-post="addons/{{.TransportUrl | url_path_escape}}/move/bottom"
        hx-target="#addons_section"
        aria-label="Move to Bottom"
        data-tooltip="Bottom"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="32">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
        </svg>
      </button>
    </div>
    <div id="addon_operation_manage" role="group">
      <button
        hx-post="addons/{{.TransportUrl | url_path_escape}}/toggle"
        hx-target="#addons_section"
        {{if .Flags.Protected}}disabled{{end}}
        class="{{if .Flags.Protected}}secondary{{end}}"
        style="
        {{if not (has_prefix .Manifest.ID "st:disabled:")}}
          {{if not .Flags.Protected}}
          --pico-background-color: #ad2201;
          {{end}}
        {{end}}"
      >
        {{if (has_prefix .Manifest.ID "st:disabled:")}}
          Enable
        {{else}}
          Disable {{if .Flags.Protected}}[Protected]{{end}}
        {{end}}
      </button>
      <button
        hx-post="addons/{{.TransportUrl | url_path_escape}}/reload"
        hx-target="#addons_section"
        hx-trigger="confirmed"
        data-name="{{.Manifest.Name}}"
        data-version="{{.Manifest.Version}}"
        data-disabled="{{if (has_prefix .Manifest.ID "st:disabled:")}}true{{end}}"
        data-manifest-url="{{.TransportUrl}}"
        data-configure-url="{{get_configure_url .}}"
        onclick="onAddonReload(this)"
      >
        Reload
      </button>
    </div>
  </article>
  {{end}}
</div>

<dialog id="addon_reload_modal">
  <article>
    <header>
      <button aria-label="Close" rel="prev" onclick="onAddonReloadModalClose()"></button>
      <h3>
        <span id="addon_reload_name"></span>
        <small><sup>v<span id="addon_reload_version"></span></sup></small>
      </h3>
    </header>
    <form>
      <label for="addon_reload_manifest_url">Manifest URL *</label>
      <fieldset role="group">
        <input type="url" id="addon_reload_manifest_url" name="manifest_url" value="" required>
        <a id="add_reload_configure_url" type="button" href="" target="_blank">Configure</a>
      </fieldset>

      <button type="submit">Reload</button>
    </form>
  </article>
</dialog>

<div id="addons_backup">

<article id="addons_backup_backup">
  <header><h3>Backup Addons</h3></header>

  <form hx-ext="htmx-download" hx-target="find textarea" hx-swap="innerHTML" hx-get="addons/backup">
    <textarea readonly></textarea>
    <button type="submit" class="grow">Backup</button>
  </form>
</article>

<article id="addons_backup_restore">
  <header>
    <h3>Restore Addons</h3>
    <small>
      ⚠️ This is replace all the existing addons on your Stremio account! 
    </small>
  </header>

  <form hx-post="addons/restore" hx-target="#addons_section">
    <input type="file" accept=".json,application/json" onchange="onAddonBackupRestoreFileSelect(event)">
    <textarea name="blob" required {{if ne .BackupRestore.Error.AddonsRestoreBlob ""}}aria-invalid="true"{{end}}>{{.BackupRestore.AddonsRestoreBlob}}</textarea>
    <small>
      {{if ne .BackupRestore.Error.AddonsRestoreBlob ""}}<span class="error">{{.BackupRestore.Error.AddonsRestoreBlob}}</span> | {{end}}
      Backup Content
    </small>

    <button type="submit" class="grow">Restore</button>
  </form>
</article>

</div>


<script>

function tryLoadAddons() {
  const url = new URL(window.location.href);
  if (!url.searchParams.get("try_load_addons")) {
    return;
  }
  url.searchParams.delete("try_load_addons");
  window.history.replaceState(null, "", url.href);

  setTimeout(() => {
    htmx.trigger("button#load_addons", "addons_load");
  }, 200);
}

tryLoadAddons();

function onAddonOperationChange(el) {
  const operation = el.value;

  document.querySelector("#addons_section").dataset.operation = operation;

  const url = new URL(window.location.href)
  url.searchParams.set("addon_operation", operation);
  window.history.replaceState(null, "", url.href);
}

function onAddonReloadModalClose() {
  const modal = document.querySelector("dialog#addon_reload_modal");
  modal.removeAttribute("open");
  document.querySelector("html").classList.remove("modal-is-open");
}

function onAddonReload(btn) {
  const modal = document.querySelector("dialog#addon_reload_modal");

  modal.querySelector("#addon_reload_name").textContent = btn.dataset.name;
  modal.querySelector("#addon_reload_version").textContent = btn.dataset.version;
  modal.querySelector("#addon_reload_manifest_url").value = btn.dataset.manifestUrl;
  
  const configureUrl = btn.dataset.configureUrl;
  if (btn.dataset.disabled !== "true" && configureUrl) {
    modal.querySelector("#add_reload_configure_url").style.display = "";
    modal.querySelector("#add_reload_configure_url").href = btn.dataset.configureUrl;
  } else {
    modal.querySelector("#add_reload_configure_url").style.display = "none";
  }

  modal.querySelector("form").addEventListener("submit", function(e) {
    e.preventDefault();
    btn.setAttribute("hx-vals", `{"manifest_url":"${modal.querySelector("#addon_reload_manifest_url").value}"}`);
    onAddonReloadModalClose();
    htmx.trigger(btn, "confirmed");
  }, { once: true });

  function onModalOutsideClick(e) {
    const content = modal.querySelector("article");
    if (!content.contains(e.target)) {
      onAddonReloadModalClose();
      modal.removeEventListener("click", onModalOutsideClick);
    }
  }

  modal.addEventListener("click", onModalOutsideClick);

  document.querySelector("html").classList.add("modal-is-open");
  modal.setAttribute("open", "");
}

setTimeout(() => {
    const addon_error = document.querySelector("#addon_error");
    if (addon_error) {
      window.scrollTo(0, addon_error.offsetTop);
    }
}, 200)
</script>

<script>
function onAddonBackupRestoreFileSelect(e) {
  const file = e.target.files[0];
  if (!file) {
    return;
  }

  const reader = new FileReader();
  reader.onload = function(e) {
    document.querySelector("#addons_backup_restore form textarea").value = e.target.result;
  }
  reader.readAsText(file);
}
</script>

</section>
