{{define "head"}}
<style>
  body {
    justify-content: center;
  }
</style>
{{end}}

{{define "header"}}
<h1>
  {{.Title}}
  <small>
    <sup>v{{.Version}}</sup>
  </small>
</h1>
<div>
  <p>{{.Description}}</p>
</div>
{{end}}

{{define "main"}}
<form id="configuration" action="configure" method="post" hx-boost="true">
  <div id="upstream_addons" class="relative border border-dashed rounded-sm mb-4 p-4" style="border-color: gray">
    <header class="absolute px-2" style="top: -0.75rem; background-color: var(--pico-background-color)">Upstream Addons</header>

    <div>
      <input type="hidden" name="upstreams_length" value="{{ .Upstreams | len }}" />

      {{range $idx, $up := .Upstreams}}
      <label for="upstreams[{{$idx}}].url">Manifest URL *</label>
      {{if $up.IsConfigurable}}
      <fieldset role="group" {{if ne $up.Error ""}}aria-invalid="true"{{end}}>
        {{end}}
        <input name="upstreams[{{$idx}}].url" type="url" required aria-invalid="{{if ne $up.Error ""}}true{{end}}" value="{{$up.URL}}">
        {{if $up.IsConfigurable}}
        <input type="button" value="Configure" onclick="onUpstreamManifestConfigure({{$idx}})" />
      </fieldset>
      {{end}}
      <small class="mb-0">{{if ne $up.Error ""}}<span class="error">{{$up.Error}}</span>{{end}}</small>
      {{end}}
    </div>

    <footer id="upstream-configure-actions" class="w-full absolute px-4 flex flex-row justify-between" style="bottom: -0.75rem; left: 0;">
      <small>
      </small>
      <small style="">
        <button class="secondary mb-0" style="font-size: 0.75rem; padding: 0.25em;" type="button" hx-target="body" hx-post="configure" hx-include="#configuration" hx-headers='{"x-addon-configure-action":"remove-upstream"}'>- Remove</button>
        <button class="secondary mb-0" style="font-size: 0.75rem; padding: 0.25em;" type="button" hx-target="body" hx-post="configure" hx-include="#configuration" hx-headers='{"x-addon-configure-action":"add-upstream"}'>+ Add</button>
      </small>
    </footer>
  </div>

  {{range .Configs}}
    {{template "configure_config.html" .}}
  {{end}}

  <button type="submit">Install</button>

  {{if ne .ManifestURL ""}}
  <div id="manifest_url_section">
    <label for="__manifest_url__">Manifest URL</label>
    <fieldset role="group">
      <input id="__manifest_url__" value="{{.ManifestURL}}" readonly />
      <button type="button" onclick="copyManifestUrl()">Copy</button>
    </fieldset>
  </div>
  {{end}}
</form>
{{end}}

{{define "foot"}}
<script>
  function onUpstreamManifestConfigure(idx) {
    const url = document.querySelector(`input[name='upstreams[${idx}].url']`).value.replace(/\/manifest.json$/,'') + "/configure";
    window.open(url, "_blank");
  }

  function copyManifestUrl() {
    const manifestUrl = document.querySelector("input#__manifest_url__")?.value;
    if (!manifestUrl) {
      return;
    }
    navigator.clipboard.writeText(manifestUrl);
    return manifestUrl;
  }

  function tryInstall() {
    const url = new URL(window.location.href)
    if (!url.searchParams.get("try_install")) {
      return
    }
    url.searchParams.delete("try_install");
    window.history.replaceState(null, "", url.href);

    const manifestUrl = copyManifestUrl();
    if (manifestUrl) {
      window.location.href = manifestUrl.replace(/^.+:\/\//, 'stremio://');
    }
  }

  tryInstall()

  htmx.on("htmx:beforeRequest", function(evt) {
    if (evt.detail.elt.id === "configuration") {
      evt.detail.elt.querySelector("button[type='submit']").ariaBusy = true;
    }
  });
  htmx.on("htmx:afterRequest", function(evt) {
    if (evt.detail.elt.id === "configuration") {
      evt.detail.elt.querySelector("button[type='submit']").ariaBusy = false;
    }
  });
  htmx.on("form#configuration", "change", function(evt) {
    document.querySelector('#manifest_url_section')?.remove();
  }, { once: true });

  {{.Script}}
</script>
{{end}}

{{template "layout.html" .}}
