{{define "head"}}
<style>
  body {
    justify-content: center;
  }
</style>
{{end}}

{{define "header"}}
<h1>
  {{.Title}}
</h1>
<div>
  <p>{{.Description}}</p>
</div>
{{end}}

{{define "main"}}
<form id="configuration" action="configure" method="post" hx-boost="true">
  <div id="upstream_addons" class="relative border border-dashed rounded-sm mb-4 p-4" style="border-color: gray">
    <header class="w-full flex flex-row justify-between absolute px-4" style="top: -0.75rem; left: 0;">
      <span class="px-2" style="background-color: var(--pico-background-color);">
        Upstream Addons
      </span>
      <small>
        {{if .CanAuthorize}}
        <button
          class="secondary mb-0"
          style="font-size: 0.75rem; padding: 0.25em;"
          type="button"
          hx-ext="htmx-modal"
          data-modal="#auth_modal"
          data-modal-on-open="onOpenAuthorize"
          hx-target="body"
          hx-post="configure"
          hx-include="#configuration"
          hx-headers='{"x-addon-configure-action":"{{if .IsAuthed}}de{{end}}authorize"}'
          hx-trigger="confirmed"
        >
          {{if .IsAuthed}}Deauthorize{{else}}Authorize{{end}}
        </button>
        {{end}}
      </small>
    </header>

    <div>
      <div class="relative mb-8">
        <input type="hidden" name="upstreams_length" value="{{ .Upstreams | len }}" />

        {{range $idx, $up := .Upstreams}}
        <div class="relative border border-dashed rounded-sm my-4 p-4" style="border-color: gray">
          <label for="upstreams[{{$idx}}].url">Manifest URL *</label>
          {{if $up.IsConfigurable}}
          <fieldset role="group" {{if ne $up.Error ""}}aria-invalid="true"{{end}}>
            {{end}}
            <input name="upstreams[{{$idx}}].url" type="url" required aria-invalid="{{if ne $up.Error ""}}true{{end}}" value="{{$up.URL}}">
            {{if $up.IsConfigurable}}
            <input type="button" value="Configure" onclick="onUpstreamManifestConfigure({{$idx}})" />
          </fieldset>
          {{end}}
          <small>{{if ne $up.Error ""}}<span class="error">{{$up.Error}}</span>{{end}}</small>

          <fieldset>
            <legend>Modifiers:</legend>
            {{if $.IsAuthed}}
            <input type="checkbox" id="upstreams[{{$idx}}].no_content_proxy" name="upstreams[{{$idx}}].no_content_proxy" {{if $up.NoContentProxy}}checked{{end}}>
            <label for="upstreams[{{$idx}}].no_content_proxy" data-tooltip="Only affects direct links" style="border: 0;">
              Skip Content Proxy for Direct Links
            </label>
            {{end}}
            <input type="checkbox" id="upstreams[{{$idx}}].reconfigure_store" name="upstreams[{{$idx}}].reconfigure_store" {{if $up.ReconfigureStore}}checked{{end}}>
            <label for="upstreams[{{$idx}}].reconfigure_store" data-tooltip="⚠️ Experimental. Needs supported Extractor." style="border: 0;">
              Try to Reconfigure Store
            </label>
          </fieldset>

          <fieldset>
            <label class="flex flex-row justify-between align-center" for="upstreams[{{$idx}}].transformer.extractor">
              <h4 class="mb-0">
                Extractor
              </h4>
              <div class="flex flex-row">
                {{if $.IsAuthed}}
                <button
                  class="outline secondary mb-0 mr-2"
                  style="font-size: 0.75rem; padding: 0.25em 0.75em;"
                  type="button"
                  hx-ext="htmx-modal"
                  data-modal="#extractor_save"
                  data-modal-on-open="onOpenExtractorSaveModal"
                  data-upstream-index="{{$idx}}"
                  hx-target="body"
                  hx-post="configure"
                  hx-include="#configuration"
                  hx-headers='{"x-addon-configure-action":"save-extractor"}'
                  hx-trigger="confirmed"
                >
                  💾
                </button>
                {{end}}
                <select
                  data-upstream-index="{{$idx}}"
                  hx-vals='{"upstream_index": {{$idx}}}'
                  hx-target="body"
                  hx-post="configure"
                  hx-include="#configuration"
                  hx-headers='{"x-addon-configure-action":"set-extractor"}'
                  name="upstreams[{{$idx}}].transformer.extractor_id"
                  aria-label="Select Extractor"
                  class="mb-0 p-1"
                >
                  <option {{if eq $up.ExtractorId ""}}selected{{end}} value="">
                    Extractor
                  </option>
                  {{range $.ExtractorIds}}
                    <option {{if eq $up.ExtractorId .}}selected{{end}} value={{.}}>{{.}}</option>
                  {{end}}
                </select>
              </div>
            </label>
            <textarea
              {{if not $.IsAuthed}}readonly{{end}}
              id="upstreams[{{$idx}}].transformer.extractor"
              name="upstreams[{{$idx}}].transformer.extractor"
              {{if ne .ExtractorError ""}}aria-invalid="true"{{end}}
            >{{$up.Extractor}}</textarea>
            <small>{{.ExtractorError}}</small>

          </fieldset>
        </div>
        {{end}}

        <div class="absolute" style="bottom: -0.75rem; right: 1rem;">
          <small>
            <button
              {{if not .CanRemoveUpstream}}disabled{{end}}
              type="button"
              hx-target="body"
              hx-post="configure"
              hx-include="#configuration"
              hx-headers='{"x-addon-configure-action":"remove-upstream"}'
              class="secondary mb-0"
              style="font-size: 0.75rem; padding: 0.25em;"
            >
              - Remove
            </button>
            <button
              {{if not .CanAddUpstream}}disabled{{end}}
              type="button"
              hx-target="body"
              hx-post="configure"
              hx-include="#configuration"
              hx-headers='{"x-addon-configure-action":"add-upstream"}'
              class="secondary mb-0"
              style="font-size: 0.75rem; padding: 0.25em;"
            >
              + Add
            </button>
          </small>
        </div>
      </div>

      <div class="relative border border-dashed rounded-sm my-4 p-4" style="border-color: gray">
        <div class="flex flex-row justify-between align-center">
          <h4 class="mb-0">
            Template
          </h4>
          <div class="flex flex-row">
            {{if .IsAuthed}}
            <button
              class="outline secondary mb-0 mr-2"
              style="font-size: 0.75rem; padding: 0.25em 0.75em;"
              type="button"
              hx-ext="htmx-modal"
              data-modal="#template_save"
              data-modal-on-open="onOpenTemplateSaveModal"
              hx-target="body"
              hx-post="configure"
              hx-include="#configuration"
              hx-headers='{"x-addon-configure-action":"save-template"}'
              hx-trigger="confirmed"
            >
              💾
            </button>
            {{end}}
            <select
              hx-target="body"
              hx-post="configure"
              hx-include="#configuration"
              hx-headers='{"x-addon-configure-action":"set-template"}'
              name="transformer.template_id"
              aria-label="Select Template"
              class="mb-0 p-1"
            >
              <option {{if eq .TemplateId ""}}selected{{end}} value="">
                Template
              </option>
              {{range $.TemplateIds}}
                <option {{if eq $.TemplateId .}}selected{{end}} value={{.}}>{{.}}</option>
              {{end}}
            </select>
          </div>
        </div>

        <label for="transformer.template.name">Name Template</label>
        <textarea
          {{if not .IsAuthed}}readonly{{end}}
          id="transformer.template.name"
          name="transformer.template.name"
          {{if ne .TemplateError.Name ""}}aria-invalid="true"{{end}}
        >{{.Template.Name}}</textarea>
        {{if ne .TemplateError.Name ""}}
        <small>{{.TemplateError.Name}}</small>
        {{end}}

        <label for="transformer.template.description">Description Template</label>
        <textarea
          {{if not .IsAuthed}}readonly{{end}}
          id="transformer.template.description"
          name="transformer.template.description"
          {{if ne .TemplateError.Description ""}}aria-invalid="true"{{end}}
        >{{.Template.Description}}</textarea>
        {{if ne .TemplateError.Name ""}}
        <small>{{.TemplateError.Description}}</small>
        {{end}}
      </div>

      {{template "configure_config.html" .SortConfig}}
    </div>
  </div>

  <div id="stores" class="relative border border-dashed rounded-sm mb-4 p-4" style="border-color: gray">
    <header class="w-full flex flex-row justify-between absolute px-4" style="top: -0.75rem; left: 0;">
      <span class="px-2" style="background-color: var(--pico-background-color);">
        Stores
      </span>
    </header>

    <div>
      <div class="relative mb-8">
        <input type="hidden" name="stores_length" value="{{ .Stores | len }}" />

        {{range $idx, $s := .Stores}}
        <div class="relative border border-dashed rounded-sm my-4 p-4" style="border-color: gray">
          <label for="stores[{{$idx}}].code">Store Name</label>
          <select id="stores[{{$idx}}].code" name="stores[{{$idx}}].code" data-field-store-token="stores[{{$idx}}].token" {{if ne $s.Error.Code ""}}aria-invalid="true"{{end}}>
            {{range $.StoreCodeOptions}}
              <option value="{{.Value}}" {{if eq $s.Code .Value}}selected{{end}} {{if .Disabled}}disabled{{end}}>{{.Label}}</option>
            {{end}}
          </select>
          <small>{{if ne $s.Error.Code ""}}<span class="error">{{$s.Error.Code}}</span> | {{end}}<span class="description"></span></small>

          <label for="stores[{{$idx}}].token">Store Token</label>
          <input type="password" id="stores[{{$idx}}].token" name="stores[{{$idx}}].token" value="{{$s.Token}}" {{if ne $s.Error.Token ""}}aria-invalid="true"{{end}}>
          <small>{{if ne $s.Error.Token ""}}<span class="error">{{$s.Error.Token}}</span> | {{end}}<span class="description"></span></small>
        </div>
        {{end}}

        <div class="absolute" style="bottom: -0.75rem; right: 1rem;">
          <small>
            <button
              {{if not .CanRemoveStore}}disabled{{end}}
              id="configure-action-remove-store"
              type="button"
              hx-target="body"
              hx-post="configure"
              hx-include="#configuration"
              hx-headers='{"x-addon-configure-action":"remove-store"}'
              class="secondary mb-0"
              style="font-size: 0.75rem; padding: 0.25em;"
            >
              - Remove
            </button>
            <button
              {{if not .CanAddStore}}disabled{{end}}
              id="configure-action-add-store"
              type="button"
              hx-target="body"
              hx-post="configure"
              hx-include="#configuration"
              hx-headers='{"x-addon-configure-action":"add-store"}'
              class="secondary mb-0"
              style="font-size: 0.75rem; padding: 0.25em;"
            >
              + Add
            </button>
          </small>
        </div>
      </div>
    </div>

    {{range .Configs}}
      {{template "configure_config.html" .}}
    {{end}}
  </div>

  <button type="submit">Install</button>

  {{if ne .ManifestURL ""}}
  <div id="manifest_url_section">
    <label for="__manifest_url__">Manifest URL</label>
    <fieldset role="group">
      <input id="__manifest_url__" value="{{.ManifestURL}}" readonly />
      <button type="button" onclick="copyManifestUrl()">Copy</button>
    </fieldset>
  </div>
  {{end}}
</form>

{{if .CanAuthorize}}
<dialog id="auth_modal">
  <article>
    <header>
      <button aria-label="Close" rel="prev" data-modal-close></button>
      <h3>
        <span>{{if .IsAuthed}}Deauthorize{{else}}Authorize{{end}}</span>
      </h3>
    </header>
    <form>
      {{if not .IsAuthed}}
      <label for="user">User *</label>
      <input type="text" name="user" required>
      <label for="user">Password *</label>
      <input type="password" name="pass" required>
      {{end}}
      <button type="submit">Go</button>
    </form>
  </article>
</dialog>

<dialog id="extractor_save">
  <article>
    <header>
      <button aria-label="Close" rel="prev" data-modal-close></button>
      <h3>
        <span>Save Extractor</span>
      </h3>
      <form>
        <label for="extractor_save_id">Extractor ID *</label>
        <input type="text" name="extractor_save_id" required>
        <label for="extractor_save_value">Extractor</label>
        <textarea id="extractor_save_value" name="extractor_save_value" readonly></textarea>
        <button type="submit">Save</button>
      </form>
    </header>

  </article>
</dialog>

<dialog id="template_save">
  <article>
    <header>
      <button aria-label="Close" rel="prev" data-modal-close></button>
      <h3>
        <span>Save Template</span>
      </h3>
      <form>
        <label for="template_save_id">Template ID *</label>
        <input type="text" name="template_save_id" required>
        <label for="template_save_name">Name Template</label>
        <textarea id="template_save_name" name="template_save_name" readonly></textarea>
        <label for="template_save_description">Title Template</label>
        <textarea id="template_save_description" name="template_save_description" readonly></textarea>
        <button type="submit">Save</button>
      </form>
    </header>

  </article>
</dialog>
{{end}}

{{end}}

{{define "foot"}}
<script>
  function onOpenAuthorize(e, { modal, onClose, trigger }) {
    modal.querySelector("form").addEventListener("submit", function(e) {
      e.preventDefault();
      {{if not .IsAuthed}}
      trigger.setAttribute("hx-vals", JSON.stringify({
        user: modal.querySelector("[name='user']").value,
        pass: modal.querySelector("[name='pass']").value,
      }));
      {{end}}
      onClose();
      htmx.trigger(trigger, "confirmed");
    }, { once: true });
  }

  function onOpenExtractorSaveModal(e, { modal, onClose, trigger }) {
    modal.querySelector("[name='extractor_save_id']").value = document.querySelector(`[name='${trigger.closest("label").htmlFor}_id']`).value;
    const valueField = document.querySelector(`[name='${trigger.closest("label").htmlFor}']`);
    modal.querySelector("[name='extractor_save_value']").value = valueField.value;
    modal.querySelector("form").addEventListener("submit", function(e) {
      e.preventDefault();
      trigger.setAttribute("hx-vals", JSON.stringify({
        extractor_id: modal.querySelector("[name='extractor_save_id']").value,
        extractor_upstream_index: trigger.dataset.upstreamIndex,
      }));
      onClose();
      htmx.trigger(trigger, "confirmed");
    }, { once: true });
  }

  function onOpenTemplateSaveModal(e, { modal, onClose, trigger }) {
    modal.querySelector("[name='template_save_id']").value = document.querySelector(`[name='transformer.template_id']`).value;
    modal.querySelector("[name='template_save_name']").value = document.querySelector(`[name='transformer.template.name']`).value;
    modal.querySelector("[name='template_save_description']").value = document.querySelector(`[name='transformer.template.description']`).value;
    modal.querySelector("form").addEventListener("submit", function(e) {
      e.preventDefault();
      trigger.setAttribute("hx-vals", JSON.stringify({
        template_id: modal.querySelector("[name='template_save_id']").value,
      }));
      onClose();
      htmx.trigger(trigger, "confirmed");
    }, { once: true });
  }

  function onUpstreamManifestConfigure(idx) {
    const url = document.querySelector(`input[name='upstreams[${idx}].url']`).value.replace(/\/manifest.json$/,'') + "/configure";
    window.open(url, "_blank");
  }

  function copyManifestUrl() {
    const manifestUrl = document.querySelector("input#__manifest_url__")?.value;
    if (!manifestUrl) {
      return;
    }
    navigator.clipboard.writeText(manifestUrl);
    return manifestUrl;
  }

  function tryInstall() {
    const url = new URL(window.location.href)
    if (!url.searchParams.get("try_install")) {
      return
    }
    url.searchParams.delete("try_install");
    window.history.replaceState(null, "", url.href);

    const manifestUrl = copyManifestUrl();
    if (manifestUrl) {
      window.location.href = manifestUrl.replace(/^.+:\/\//, 'stremio://');
    }
  }

  tryInstall()

  htmx.on("htmx:beforeRequest", function(evt) {
    if (evt.detail.elt.id === "configuration") {
      evt.detail.elt.querySelector("button[type='submit']").ariaBusy = true;
    }
  });
  htmx.on("htmx:afterRequest", function(evt) {
    if (evt.detail.elt.id === "configuration") {
      evt.detail.elt.querySelector("button[type='submit']").ariaBusy = false;
    }
  });
  htmx.on("form#configuration", "change", function(evt) {
    document.querySelector('#manifest_url_section')?.remove();
  }, { once: true });

  {{.Script}}
</script>
{{end}}

{{template "layout.html" .}}
