<style>
#addons_list:not([data-operation="move"]) #addon_operation_move {
  display: none;
}
#addons_list:not([data-operation="toggle"]) #addon_operation_toggle {
  display: none;
}
</style>

<section id="addons_section">

<header class="flex-row justify-space-between">
  <div>
    <select name="addon_operation" aria-label="Addon Operation" required onchange="onAddonOperationChange(this)">
      <option disabled value="">Operation</option>
      <option {{if eq .AddonOperation "move"}}selected{{end}} value="move">Move</option>
      <option {{if eq .AddonOperation "toggle"}}selected{{end}} value="toggle">Toggle</option>
    </select>
  </div>
  <div>
    <button id="load_addons" hx-get="addons" hx-target="#addons_section">
      {{if eq (len .Addons) 0}}Load{{else}}Refresh{{end}}
    </button>
  </div>
</header>

<div id="addons_list" data-operation="{{.AddonOperation}}">
  {{range $idx, $addon := .Addons}}
  <article>
    <header class="flex-row justify-space-between align-center">
      <div>
        <h3>
          {{.Manifest.Name}}
          <small>
            <sup>v{{.Manifest.Version}}</sup>
          </small>
        </h3>
      </div>
      <div>
        {{with (get_configure_url .)}}
          <a role="button" href="{{.}}" target="_blank">Configure</a>
        {{end}}
      </div>
    </header>

    <div id="addon_operation_move" role="group">
      <button
        {{if eq $idx 0}}disabled{{end}}
        hx-post="addons/{{.TransportUrl | url_path_escape}}/move/top"
        hx-target="#addons_section"
        aria-label="Move to Top"
        data-tooltip="Top"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="32">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 18.75 7.5-7.5 7.5 7.5" />
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 7.5-7.5 7.5 7.5" />
        </svg>
      </button>
      <button
        {{if eq $idx 0}}disabled{{end}}
        hx-post="addons/{{.TransportUrl | url_path_escape}}/move/up"
        hx-target="#addons_section"
        aria-label="Move Up"
        data-tooltip="Up"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="32">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>
      </button>
      <button
        {{if eq $idx $.LastAddonIndex}}disabled{{end}}
        hx-post="addons/{{.TransportUrl | url_path_escape}}/move/down"
        hx-target="#addons_section"
        aria-label="Move Down"
        data-tooltip="Down"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="32">
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
      </button>
      <button
        {{if eq $idx $.LastAddonIndex}}disabled{{end}}
        hx-post="addons/{{.TransportUrl | url_path_escape}}/move/bottom"
        hx-target="#addons_section"
        aria-label="Move to Bottom"
        data-tooltip="Bottom"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="32">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
        </svg>
      </button>
    </div>
    <div id="addon_operation_toggle" role="group">
      <button
        hx-post="addons/{{.TransportUrl | url_path_escape}}/toggle"
        hx-target="#addons_section"
        {{if .Flags.Protected}}disabled{{end}}
        class="{{if .Flags.Protected}}secondary{{end}}"
        style="
        {{if not (has_prefix .Manifest.ID "st:disabled:")}}
          {{if not .Flags.Protected}}
          --pico-background-color: #ad2201;
          {{end}}
        {{end}}"
      >
        {{if (has_prefix .Manifest.ID "st:disabled:")}}
          Enable
        {{else}}
          Disable {{if .Flags.Protected}}[Protected]{{end}}
        {{end}}
      </button>
    </div>
  </article>
  {{end}}
</div>

</section>

<script>
function onAddonOperationChange(el) {
  const operation = el.value;

  document.querySelector("#addons_list").dataset.operation = operation;

  const url = new URL(window.location.href)
  url.searchParams.set("addon_operation", operation);
  window.history.replaceState(null, "", url.href);
}
</script>
